<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--应用名称-->
    <property name="APP_NAME" value="elk-study"/>
    <contextName>${APP_NAME}</contextName>

    <!--输出到elk的LOGSTASH-->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!--配置为 LOGSTASH 地址 -->
        <destination>127.0.0.1:4560</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
            </providers>
            <!--自定义字段 区分项目-->
            <customFields>{"appName":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>
    <!-- 日志级别-->
    <root level="INFO">
        <!--输出位置为LOGSTASH-->
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>